{% if session_user_id and session_user_pass %}
<!DOCTYPE html>
<html lang="en" style="height: 100%; margin: 0px;">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% load static %}
    <link rel="icon" href="{% static 'img/apex_logo2.png' %}">
</head>
<body style="height: 100%; margin: 0px; font-family: 'Poppins', sans-serif;">
{% include "./header.html" %}
    <div class="container-fluid row align-items-center pt-0 mx-0" style="height: 80vh;">
        <div class="col d-flex justify-content-center p-0">
        <form method="POST" action="/changepassword" class="row col-lg-3 g-3 p-3 pb-4 shadow-lg rounded-3" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="col-lg-12 text-center mt-2">
                <label class="form-label h4 mb-1 text-muted">CHANGE PASSWORD</label>
            </div>
            <div class="col-lg-12">
                <label class="form-label h6">Previous Password</label>
                {{form.old_pass}}
                <span class="text-danger h6 ">{{old_pass_error}}</span>
            </div>
            <div class="col-lg-12">
                <label class="form-label h6">New Password</label>
                {{form.new_pass}}
                <span class="text-danger h6 ">{{conf_pass_error}}</span>
            </div>
            <div class="col-lg-12">
                <label class="form-label h6">New Password</label>
                {{form.conf_pass}}
                <span class="text-danger h6 ">{{conf_pass_error}}</span>
            </div>
             <div class="col-lg-12 align-items-end">
               <div class="col d-flex justify-content-end">
                   <input type="hidden" name="user_email" value="{{ session_user_email }}">
                   <button type="submit" class="btn btn-primary">Change Password</button>
               </div>
            </div>
            <div class="col-lg-12 text-center mt-2">
                {% if denial_message %}
                <p class="form-label h5 mb-1 text-danger">{{denial_message}}</p>
                {% endif %}
                {% if confirmation_message %}
                <p class="form-label h5 mb-1 text-success">{{confirmation_message}}</p>
                {% endif %}
            </div>
            {% if previous_page %}
             <input type="hidden" name="previous_page_ref" value="{{ previous_page }}">
            {% endif %}
        </form>
        </div>
    </div>
<div>
</div>
{% include "./footer.html" %}
</body>
</html>
{% else %}
    <meta http-equiv="REFRESH" content="0; url=/">
{% endif %}