<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow bg-white">
    <div class="container-fluid">
        <a class="nav-link h4 text-muted me-0" href="/">PORTAL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row text-end" id="navbarText">
            <ul class="navbar-nav d-flex justify-content-end col" >
                <li class="nav-item">
                    <a class="nav-link h5 my-0 mx-2" aria-current="page" href="/uploadfile" style="font-family: 'Work Sans', sans-serif; font-weight:bold;">
                        <i class="bi bi-file-earmark-arrow-up"></i> Upload File
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h5 my-0 mx-2" aria-current="page" href="#" style="font-family: 'Work Sans', sans-serif; font-weight:bold;">
                        <i class="bi bi-eye"></i> View file
                    </a>
                </li>
                {% if session_full_name %}
                <li class="nav-item dropdown py-2 mx-1">
                    <a class="nav-link dropdown-toggle h6 my-0" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="success"> {{session_full_name}} </span><i class="bi bi-person-circle"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/changepassword">Change Password</a></li>
                        <li><a class="dropdown-item" href="/signout">Signout</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
</body>
</html>