<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body style="background-color: #f7f9fa">
<div class="container-fluid row align-items-center pt-0" style="height: 86vh;">
    <div class="col d-flex justify-content-center p-0">
        <form method="POST" action="/login" class="row col-md-6 g-3 p-3 pb-4 shadow-lg rounded-2" style="background-color: white" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="col-lg-12 text-center mt-2">
                <label class="form-label h4 mb-1 text-muted">PORTAL LOGIN</label>
            </div>
            <div class="col-lg-12">
                <label class="form-label h5 text-muted">Email</label>
                {{form.user_email}}
                <span class="text-danger h6 ">{{email_error}}</span>
            </div>
            <div class="col-lg-12">
                <label class="form-label h5 text-muted">Password</label>
                {{form.user_pass}}
                <span class="text-danger h6 ">{{pass_error}}</span>
            </div>
            <div class="col-lg-12 align-items-end">
               <div class="col d-flex justify-content-end">
                   <button type="submit" class="btn btn-primary" style="width: 120px; height: 40px">Login</button>
               </div>
            </div>
            <div class="col-lg-12 text-center mt-2">
                {% if denial_message %}
                <p class="form-label h5 mb-1 text-danger">{{denial_message}}</p>
                {% endif %}
                {% if confirmation_message %}
                <p class="form-label h5 mb-1 text-success">{{confirmation_message}}</p>
                {% endif %}
            </div>
        </form>
    </div>
</div>
</body>
</html>