<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="DjangoApp" />
            <add name="ODMS handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\portal\venv\Scripts\python.exe|D:\portal\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
